<% include partials/header %>

    <body>
        <div class='wrapper'>

            <!-- Sidebar  -->
            <nav class="sidebar">
                <div class="sidebar-header">
                    <h3>Javier Farre</h3>
                </div>
    
                <ul class="list-unstyled components">
                    <li class="sidebar-brand">
                        <a href="#">
                           Brand
                        </a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#skills">Skills</a>
                    </li>
                    <li>
                        <a href="#experience">Experience</a>
                    </li>
                    <li>
                        <a href="#projects">Projects</a>
                    </li>
                    <li>
                        <a href="#awards">Awards</a>
                    </li>
                    <li>
                        <a href="#education">Education</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Dropdown heading</li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                    </li>
                    <li>
                        <a href='#'>Resume</a>
                    </li>
                </ul>
            </nav>
            <!-- sidebar -->
            
            <!--Main content-->
            <div class="" id="main-content">
                <div id="welcome">
                    <h1>Javier Farre</h1>
                
                    <p>Application Developer</p>
                </div>
                
                <div id="about">
                    <h1>ABOUT</h1>
                    <p>I have always been fascinated by technology. Every time there was a new piece of tech released, I kept wondering how it worked and kept investigating about it until I was satisfied with my understanding of that technology.</p>
                    <p>This passion for technology has been the one key reason for my professional path, which has started with cars and engine design, another one of my hobbies. Although it is a fascinating industry with revolutionary changes on the horizon, I feel that it is time for me to change my career path towards the direction that I feel is my ultimate passion. Having taken some online courses this year in regards full-stack development, has made me realize that it is where I can give my full potential </p>
                    <p>Changing my professional path is not an easy decision, but at the same time I have never been more convinced that it is the right decision. For me, being a developer is not only a job. Being a developer is a passion that doesn't stop once you leave work. A passion that you keep thinking on and working in on your spare time. Being a developer is a state of mind, and I know I have it. </p>
                    <p>While I don't have any professional experience yet, that hasn't stopped me from implementing all the knowledge and materialise concepts in the form of apps.</p>
                    <p>As a developer, I inted to apply my love and obsessive attention to detail into the work I do and help my team getting the same motivation to pursue any challenge and accomplish it.</p>
                    
                    
                </div> 
                
                <div id="skills">
                    <h1>Skills</h1>
                    <div class="container">
                        <h2>To include different thumbnails with my different set of skills</h2>
                    </div>
                    
                </div>
                
                <div class="container" id="experience">
                    <h1>Experience</h1>
                    <div class="container">
                        <h2>To include different thumbnails with my experience</h2>
                    </div>
                </div> 
                
                <div class="container" id="projects">
                    <h1>Projects</h1>
                    <div class="container">
                        <h2>To include the different projects I have created, with a brief description on what has been used and how it has been written</h2>
                    </div>
                </div> 
                
                <div class="container" id="awards">
                    <h1>Awards</h1>
                    <div class="container">
                        <h2>To include different thumbnails with my experience</h2>
                    </div>
                </div> 
                
                <div class="container" id="education">
                    <h1>Education</h1>
                    <div class="container">
                        <h2>To include my education together with the courses I have done</h2>
                    </div>
                    
                </div> 
                
                <div class="container" id="contact">
                    <h1>Contact</h1>
                    <div class="container">
                        <h2>Include contact details with LinkedIn icon</h2>
                    </div>
                    
                </div> 
                
                <div class="container" id="resume">
                    <h1>Resume</h1>
                    <div class="container">
                        <h2>Add PDF of my CV for download/h2>
                    </div>
                </div>
            </div>
           
        </div>
    
        

<% include partials/footer %>

