body {
  position: relative;
  height: 100%; }

html {
  height: 100%; }

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s; 
  cursor: pointer;
}

h1 {
  padding: 30px 0; }

ul.nav-pills {
  position: fixed; }

.blockquote {
  border-left: 2px solid #3385ff; }

.introduction {
  font-size: 1.5rem; }

#titleSection h4 {
  text-align: center;
  margin-left: 150px;
  letter-spacing: 7px;
  padding-bottom: 70px;
  color: white; }

#titleSection {
  background: url("https://images.unsplash.com/photo-1529636444744-adffc9135a5e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=efa349fec4ceef2ac553b081a4ffc8db&auto=format&fit=crop&w=854&q=80");
  background-color: grey;
  background-size: cover;
  background-position: center;
  z-index: 999;
  height: 100%;
  color: white;
  text-shadow: 3px 3px 10px #000;
  /*skewered background attempt*/
  padding: 230px 0;
  -webkit-transform: skew(0deg, 5deg);
  -moz-transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -o-transform: skew(0deg, 5deg);
  transform: skew(0deg, 5deg);
  margin-top: -80px; }

#main-content #titleSection .content {
  -webkit-transform: skew(0deg, -5deg);
  -moz-transform: skew(0deg, -5deg);
  -ms-transform: skew(0deg, -5deg);
  -o-transform: skew(0deg, -5deg);
  transform: skew(0deg, -5deg);
  text-align: center; }

.container {
  padding: 0;
  margin: 0;
  max-width: 100%; }

.sidebar {
  width: 230px;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #3385ff;
  color: #fff;
  position: fixed !important;
  overflow-y: scroll;
  transition: all 0.3s;
  webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.sidebar-header {
  padding: 15px 13px;
  background: #3356ff;
  transition: all 0.3s;
  text-shadow: 3px 3px 3px #000;
  border-bottom: 2px solid #ffff;
  text-align: center; }

.sidebar .sidebar-header:hover {
  transform: scale(1.025); }

.sidebar ul {
  font-size: 1.1em; }

.sidebar ul .components {
  padding: 20px 10px;
  border-bottom: 1px solid #47748b; }

.sidebar ul li:hover {
  color: #6d7fcc;
  background: #fff;
  transition: all 0.2s; }

.sidebar ul li .active {
  color: #6d7fcc;
  background: #fff;
  transform: translateX(5%);
  border-left: 4px solid #ea4a4f; }

.sidebar ul li a {
  padding: 10px 25px;
  font-size: 1.1em; }

.top-navbar {
  top:0;
  left:0;
  width: 100vw;
  height: 70px;
  margin-top: -200px;
  z-index: 999;
  background: #3385ff;
  color: #fff;
  position: fixed !important;
  overflow-x: auto;
  transition: all 0.3s;
}

.top-navbar .nav {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items: center;
}


#main-content {
  background: url("../static/img/bg2.png") repeat center center;
  width: calc(100% - 230px);
  padding-bottom: 80px;
  min-height: 100vh;
  transition: all 0.3s;
  top: 0;
  right: 0;
  left: 230px;
  position: absolute; }

#main-content.active {
  width: 100%; }

#Title {
  text-align: center;
  font-size: 6em;
  margin-right: 150px;
  padding-top: 20vh;
  padding-bottom: 0; }

.content {
  padding: 50px 30px; }

.even-section {
  background: url("../static/img/bg.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 80vw;
  -webkit-transform: skew(0deg, -2.5deg);
  -moz-transform: skew(0deg, -2.5deg);
  -ms-transform: skew(0deg, -2.5deg);
  -o-transform: skew(0deg, -2.5deg);
  transform: skew(0deg, -2.5deg); }

.even-section .content {
  padding: 120px 7vw;
  -webkit-transform: skew(0deg, 2.5deg);
  -moz-transform: skew(0deg, 2..5deg);
  -ms-transform: skew(0deg, 2.5deg);
  -o-transform: skew(0deg, 2.5deg);
  transform: skew(0deg, 2.5deg); }

.odd-section {
  -webkit-transform: skew(0deg, -2.5deg);
  -moz-transform: skew(0deg, -2.5deg);
  -ms-transform: skew(0deg, -2.5deg);
  -o-transform: skew(0deg, -2.5deg);
  transform: skew(0deg, -2.5deg); }

.odd-section .content {
  padding: 120px 7vw;
  -webkit-transform: skew(0deg, 2.5deg);
  -moz-transform: skew(0deg, 2.5deg);
  -ms-transform: skew(0deg, 2.5deg);
  -o-transform: skew(0deg, 2.5deg);
  transform: skew(0deg, 2.5deg); }

.header {
  background: #3385ff;
  padding: 0 30px; }

.right-header {
  box-shadow: 1px 3px 12px 0px #565656;
  border-bottom: 3px solid #ea4a4f;
  color: white;
  letter-spacing: 10px;
  text-shadow: 5px 3px 6px #132180;
  text-align: left;
  text-transform: uppercase;
  -webkit-transform: skew(0deg, 7.5deg);
  -moz-transform: skew(0deg, 7.5deg);
  -ms-transform: skew(0deg, 7.5deg);
  -o-transform: skew(0deg, 7.5deg);
  transform: skew(0deg, 7.5deg); }

.left-header {
  box-shadow: 1px 3px 12px 0px #565656;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 5px 3px 6px #132180;
  letter-spacing: 10px;
  border-bottom: 3px solid #ea4a4f;
  color: white;
  -webkit-transform: skew(0deg, 7.5deg);
  -moz-transform: skew(0deg, 7.5deg);
  -ms-transform: skew(0deg, 7.5deg);
  -o-transform: skew(0deg, 7.5deg);
  transform: skew(0deg, 7.5deg); }

.card {
  border-radius: 1rem;
  -moz-box-shadow: 0px 1px 5px #525252;
  -webkit-box-shadow: 0px 1px 5px #525252;
  box-shadow: 0px 1px 5px #525252;
  margin: 1rem 0rem; }

.card-header:first-child {
  background-color: #3385ff;
  background-color: rgba(51, 133, 255, 0.7);
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
  font-size: 1.5rem; }

.portfolio-card-links{
  width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: space-around;
	list-style: none;
	padding:0;
	margin-top: 10px;
}

.portfolio-card-links li {
  padding: 0px;
	flex-basis: 30%;
	text-align: center;
	transition: all 0.4s cubic-bezier(.22,-0.37,.66,1.35);
}

.portfolio-card-links li i{
  color: #050c2d;
  opacity: 0.65;
  transition: all 0.2s linear;
}

.portfolio-card-links li:hover{
  opacity: 1;
  transform: scale(1.2);
}

.contactHeader {
  margin-bottom: 100px; }

.linksGrid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}

.linksGrid li {
  padding: 0px;
	flex-basis: 30%;
	margin: 10px;
	text-align: center;
	transition: all 0.4s cubic-bezier(.22,-0.37,.66,1.35);
}

.linksGrid li i{
  color: #050c2d;
  opacity: 0.65;
  transition: all 0.2s linear;
  
}

.linksGrid li:hover{
  opacity: 1;
  transform: scale(1.2);
}

.linksGrid li i:hover{
  opacity: 1;
  color: #3385ff;

}

.linksGrid li h4{
  font-size: 20px;
  margin: 25px 0;
}

/*Animating the page when loaded*/
@keyframes reveal {
	
	100%{
		opacity:1;
		transform: translate(0px);
	}
	
}

.sidebar li {
  animation: reveal 0.2s ease-in 0s forwards;
  opacity: 0;
  transform: translateX(-40px);
}

.sidebar li:nth-child(1) {
  animation-delay: 0.1s;
}

.sidebar li:nth-child(2) {
  animation-delay: 0.2s;
}

.sidebar li:nth-child(3) {
  animation-delay: 0.3s;
}

.sidebar li:nth-child(4) {
  animation-delay: 0.4s;
}

.sidebar li:nth-child(5) {
  animation-delay: 0.5s;
}

.sidebar li:nth-child(6) {
  animation-delay: 0.6s;
}

.sidebar li:nth-child(7) {
  animation-delay: 0.7s;
}

.sidebar li:nth-child(8) {
  animation-delay: 0.8s;
}

.sidebar li:nth-child(9) {
  animation-delay: 0.9s;
}

#titleSection .content h1,h4{
  animation: reveal 0.4s ease-in 1s forwards;
  opacity: 0;
  transform: translateY(-40px) scale(0.1);
}



@media (max-width: 960px) {
  .sidebar {
    margin-left: -250px; }
  .linksContent p {
    font-size: 1.25rem; }
    
  .top-navbar {
    margin-top: 0px;
    width: 100%;
  }
  
  h1 {
    font-size: 1.5rem; }
  #titleSection h4 {
    margin-left: 0;
    overflow-wrap: break-word; }
  #main-content {
    width: 100%;
    left: 0; }
  .card-header h2 {
    font-size: 1.1rem; }
  #main-content.active {
    width: calc(100% - 250px); }

  .linksContent p {
  font-size: 0.7rem; }
}

/*# sourceMappingURL=main_scss.css.map */

